* {
  box-sizing: border-box;
}

#navbar{
  position: fixed;
}

#perfcontainer{   
  width: 100%;
  height: auto;
  background-image: url("/public/img/performers.jpg");
}

#merchcontainer{
  width: 100%;
  height: auto;
  background-image: url("/public/img/merchants.jpg");
}
